MONGO_DB_URI=mongodb://localhost:27017/wattpad-clone
TOKEN_KEY=JKLFJSRJFGKRSHG
PORT=8000
NODE_ENV=production
TRANSPORTER_USER=islemothmani127@gmail.com
TRANSPORTER_PASSWORD=pqhtvymaxiosolwr
REDIS_PORT=19443
REDIS_HOST=127.0.0.1
REDIS_USERNAME=
REDIS_PASSWORD=

